name: Publish

on:
    workflow_dispatch:

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - name: Check out
              uses: actions/checkout@v2

            - name: Publish
              uses: mosteo/alr-publish@devel
              with:
                github_token: ${{ secrets.ALR_PUBLISH_PAT }}
                index_name: test-index
                skip_submit: false
