name: Tests

on:
    pull_request

env:
  DEN_DEBUG: true

jobs:
    test:
        runs-on: ${{ matrix.combo.os }}

        strategy:
            fail-fast: false
            matrix:
                combo:
                  - {os: macos-15-intel,   v: ^14}
                  - {os: macos-15-intel,   v: ^15}
                  - {os: macos-15-intel,   v: ""}

                  - {os: macos-latest,     v: ^14}
                  - {os: macos-latest,     v: ^15}
                  - {os: macos-latest,     v: ""}

                  - {os: ubuntu-22.04,     v: ^10}
                  - {os: ubuntu-22.04,     v: ^11}
                  - {os: ubuntu-22.04,     v: ^12}
                  - {os: ubuntu-22.04,     v: ^13}
                  - {os: ubuntu-22.04,     v: ^14}
                  - {os: ubuntu-22.04,     v: ^15}
                  - {os: ubuntu-22.04,     v: ""}

                  - {os: ubuntu-22.04-arm, v: ^14}
                  - {os: ubuntu-22.04-arm, v: ^15}
                  - {os: ubuntu-22.04-arm, v: ""}

                  - {os: ubuntu-24.04,     v: ^14}
                  - {os: ubuntu-24.04,     v: ^15}
                  - {os: ubuntu-24.04,     v: ""}

                  - {os: ubuntu-24.04-arm, v: ^14}
                  - {os: ubuntu-24.04-arm, v: ^15}
                  - {os: ubuntu-24.04-arm, v: ""}

                  - {os: windows-latest,   v: ^10}
                  - {os: windows-latest,   v: ^11}
                  - {os: windows-latest,   v: ^12}
                  - {os: windows-latest,   v: ^13}
                  - {os: windows-latest,   v: ^14}
                  - {os: windows-latest,   v: ^15}
                  - {os: windows-latest,   v: ""}
                soft: [true, false]

        steps:
            - name: Enable/disable softlinks support in git
              run: git config --global core.symlinks ${{ matrix.soft }}

            - name: Check out den
              uses: actions/checkout@v2

            - name: Verify same example
              shell: bash
              run: cmp example/src/example.adb tests/src/example.adb

            - name: Set up Alire
              uses: alire-project/setup-alire@v5
              with:
                  version: nightly
                  toolchain: gnat_native${{matrix.combo.v}} gprbuild

            - name: Enable new testsuite
              shell: bash
              run: |
                cat alire.toml | grep "^\[test\]$" || \
                  echo -e "[test]\nrunner = 'alire'" >> alire.toml

            - name: Test
              shell: bash
              run: |
                  alr test
